h1 {
	color: red;
}
<<<<<<< HEAD
=======

header {
	color: green;
}

footer {
	color: orange;
}
<<<<<<< HEAD
>>>>>>> 8e2a3c3 (modification style 3)
=======

p {
	font-size: 14px;
}
>>>>>>> 727faa2 (modification style 4)
